*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

body {
    background-color: #2f3035;
    background-image: url(../images/background-adare-restaurant.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

header{
    height: 118px;
    text-align: center;
}

nav{
    color: white;
    text-align: center;
    background-color: black;
}

main {
    color: white;
    text-align: center;
    /* width: 600px; */
}